a.navbar-brand > img{
    width: 100px;
    length: 50px;
}
html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat" , sans-serif;
}
.gradient {
    background: rgb(255,0,0);
background: linear-gradient(
    90deg,
     rgba(255,0,0,1) 0%,
    rgba(0,18,255,1) 100%
    );
}
.img {
    width: 150px;
    height: 200px;
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}
   
